<section class="hero" id="home">
    <div class="left">
        <h1>Tabbies</h1>
        <p>
            Tu veterinaria de gatos de confianza.<br/>
            Aprende más sobre nosotros<br/>
            y disfruta de nuestros servicios.
        </p>
        <span>
            <a href="/users/new" class="btn-primary">Regístrate</a>
            <a href="/login" class="btn-secondary">Iniciar Sesión</a>
        </span>
    </div>
    <div class="right">
        <img src="/assets/images/banner-cat-transparent.png" alt="Gato Banner">
    </div>
</section>
