:host {
	display: contents;
	width: 100%;
}

section {
  background-image: url("/assets/images/backCreate.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 4em;
}

.card {
  display: flex;
	flex-direction: column;
  background-color: #fdfdfd;
  justify-content: center;
  align-items: center;
  width: 700px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.pet-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pet-details h1 {
  padding: 20px;
  font-size: 2em;
}

/* From Uiverse.io by bociKond */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form input, .form select {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border-radius: 5px;
  width: 80%;
  padding: 1rem 0.75rem;
  border: none;
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  background-color: #fdfdfd;
  margin-left: 10%;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.form label {
  align-self: 50%;
  font-weight: 600;
  margin-left: 10%;
}

.form button {
  border: none;
}

.form span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.span {
  text-decoration: none;
}
