* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

section{
  background-image: url("/src/assets/images/backCreate.png");
  background-size: 90%;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.container-forms {
  max-width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.card {
  display: flex;
  background-color: #fdfdfd;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.pet-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pet-details h1 {
  padding: 20px;
  font-size: 2em;
}

/* From Uiverse.io by bociKond */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form input, .form select {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border-radius: 5px;
  width: 80%;
  padding: 1rem 0.75rem;
  border: none;
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  background-color: #fdfdfd;
  margin-left: 10%;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.form label {
  align-self: 50%;
  font-weight: 600;
  margin-left: 10%;
}

.form button {
  border: none;
}

.form span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.span {
  text-decoration: none;
}

/* General components */
.btn-primary, .btn-secondary {
  font-size: medium;

  /* Spacing */
  padding: 0.5em 1em;
  margin: 1.5em 0.5em;
  border-radius: 5px;
  /* Text */
  text-decoration: none;
  /* Shadow */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  /* Background */
  background-color: rgb(249.8275862069, 147.6724137931, 147.6724137931);
  /* Text */
  color: #fdfdfd;
  /* Hover */
}
.btn-primary:hover {
  background-color: rgb(248.6551724138, 123.3448275862, 123.3448275862);
}

.btn-secondary {
  /* Background */
  background-color: #8895EA;
  /* Text */
  color: #fdfdfd;
  /* Hover */
}
.btn-secondary:hover {
  background-color: rgb(92.65, 110.3857142857, 226.35);
}