/* General styles for the section */
section {
    background-image: url("/assets/images/backCreate.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4em;

	min-height: 100vh;
    width: 100%;
    
}

/* Card container */
.card {
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 1.5em 0;
}

/* Form title */
.card h2 {
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-align: center;
}
.input-span {
    width: 90%;
    display: flex;
    flex-direction: column;
}

/* Form container */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Form inputs, selects, and textarea */
.form input,
.form select,
.form textarea {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    width: 90%; /* Ocupa el 90% del ancho de la tarjeta */
    padding: 1rem 0.75rem;
    border: 1px solid #e6e6e6;
    background-color: #fdfdfd;
    margin-bottom: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Input focus styles */
.form input:focus,
.form select:focus,
.form textarea:focus {
    border-color: #4169e1;
    outline: none;
}

/* Textarea styling */
.form textarea {
    resize: none;
    height: 150px; /* Aumenta la altura si es necesario */
}

/* Form labels */
.form label {
    align-self: flex-start;
    font-weight: 600;
    margin-left: 5%;
    margin-bottom: 0.5rem;
    color: #555;
}

/* Submit button */
.form button {
    background-color: #4169e1;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%; /* Ocupa el 90% del ancho de la tarjeta */
    margin-bottom: 1rem;
}

.form button:hover {
    background-color: #3157b7;
}

/* Responsive design */
@media (max-width: 768px) {
    .card {
        width: 90%;
        padding: 1.5rem;
    }

    .form input,
    .form select,
    .form textarea,
    .form button {
        width: 95%; /* Ajusta el ancho en pantallas pequeñas */
    }
}
