<section>
	<h1>Lista de Mascotas</h1>
	<a routerLink="/admin/pets/add" class="btn btn-primary"><ion-icon name="color-wand" class="wand" />Crear Mascota</a>
	<table>
		<thead>
			<tr>
				<th>Nombre Gatuno</th>
				<th>Raza</th>
				<th>Peso (kg)</th>
				<th>Nacimiento</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let pet of pets">
				<td>{{ pet.name }}</td>
				<td>{{ pet.breed }}</td>
				<td>{{ pet.weight }}</td>
				<td>{{ pet.birthDate | date : "dd-MM-yyyy" }}</td>
				<td class="center">
					<a [routerLink]="['/veterinarian/pets', pet.id]" class="btn btn-primary" *ngIf="!pet.disabled">
						<ion-icon name="list-circle-outline" class="detalles"></ion-icon>
					</a>

					<button routerLink="/veterinarian/treatment" class="btn btn-secondary">
						<ion-icon name="medkit-outline"></ion-icon>
					</button>

					<button class="btn btn-secondary" (click)="toggleStatus(pet.id, false)" *ngIf="!pet.disabled">
						<ion-icon name="trash-bin"></ion-icon>
						&nbsp;Desactivar
					</button>

					<button class="btn btn-secondary" (click)="toggleStatus(pet.id, true)" *ngIf="pet.disabled">
						&nbsp;Activar
					</button>
					  
				</td>
			</tr>
		</tbody>
	</table>
</section>
