<section>
	<div class="card">
		<h1>Crear Nuevo Usuario</h1>
		<form (ngSubmit)="createUser()" class="form">
			<span class="input-span">
				<label for="name">Nombre:</label>
				<input type="text" id="name" [(ngModel)]="user.name" name="name" required>
			</span>

			<span class="input-span">
				<label for="email">Correo:</label>
				<input type="email" id="email" [(ngModel)]="user.email" name="email" required>
			</span>
			<span class="input-span">
				<label for="hash">Contraseña:</label>
				<input type="password" id = "hash" [(ngModel)]="user.hash" name="hash" />
			</span>

			<span class="input-span">
				<label for="document">Documento:</label>
				<input type="text" id="document" [(ngModel)]="user.document" name="document" required>
			</span>

			<span class="input-span">
				<label for="number">Número:</label>
				<input type="text" id="number" [(ngModel)]="user.number" name="number" required>
			</span>

			<input type="hidden" [(ngModel)]="user.id" name="id" />

			<span>
				<button type="submit" id = "crear" class="btn btn-primary">Crear Usuario</button>
			</span>
		</form>
	</div>
</section>
