
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

section {
    background-image: url("/src/assets/images/bgTest.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* Ajustar el contenedor */
.container {
    width: 100%;
    max-width: 80rem; /* Ajusta este valor según sea necesario */
    padding: 0 2rem; /* Añadir padding para evitar que el contenido toque los bordes */
}

/* Ajustar la tarjeta */
.card {
    margin-top: 10px;
    background: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%; /* Ajusta este valor según sea necesario */
}

.top-section {
    background-color: #4169E1;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.top-section h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.top-section img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    border: 2px solid white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.bottom-section {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.pet-info {
    flex: 1;
}

.pet-info p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.pet-info p span {
    font-weight: normal;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 1rem;
    min-width: 200px;
}

.btn-general {
    width: 100%;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 9999px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;

    text-decoration: none;
    text-align: center;
}

.back-btn {
    background-color: #6B7280;
}

.back-btn:hover {
    background-color: #4B5563;
}

.edit-btn {
    background-color: #4169E1;
}

.edit-btn:hover {
    background-color: #3154b3;
}

.treatment-btn {
    background-color: #40E0D0;
}

.treatment-btn:hover {
    background-color: #33b3a6;
}

@media (max-width: 640px) {
    .bottom-section {
        flex-direction: column;
        align-items: stretch;
    }

    .buttons {
        min-width: 100%;
    }
}