<section>
	<h1>Lista de Mascotas</h1>
	<a [routerLink]="['add']" class="btn btn-primary"><ion-icon name="color-wand" class="wand" />Crear Mascota</a>
	<input type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchPets()" placeholder="Buscar mascota..." class="search-input" />
	<table>
		<thead>
			<tr>
				<th>Nombre Gatuno</th>
				<th>Raza</th>
				<th>Peso (kg)</th>
				<th>Nacimiento</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let pet of pets">
				<td>{{ pet.name }}</td>
				<td>{{ pet.breed }}</td>
				<td>{{ pet.weight }}</td>
				<td>{{ pet.birthDate | date : "dd-MM-yyyy" }}</td>
				<td class="center">
					<a [routerLink]="[pet.id]" class="btn btn-primary" *ngIf="!pet.disabled">
						<ion-icon name="list-circle-outline" class="detalles"></ion-icon>
					</a>
					<a [routerLink]="['/veterinarian/procedures',pet.id]" class="btn btn-tertiary" *ngIf="!pet.disabled">
						<ion-icon name="medkit"></ion-icon>
					</a>
					<button class="btn btn-secondary same-height" (click)="toggleStatus(pet.id, false)" *ngIf="!pet.disabled">
						<ion-icon name="trash-bin"></ion-icon>
					</button>
					<button class="btn btn-secondary same-height" (click)="toggleStatus(pet.id, true)" *ngIf="pet.disabled">
						<ion-icon name="checkmark-circle"></ion-icon>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</section>
