<section class="services" id="services">
    <h2>Nuestros Servicios</h2>
    <article>
        <home-services-card 
            icon="/assets/icons/injection.png" 
            alt="injection" 
            title="Consulta y Vacunación" 
            description="Revisión completa, diagnóstico y vacunas esenciales para mantener a tu gato sano y protegido." />
        <home-services-card 
            icon="/assets/icons/surgery.png" 
            alt="surgery" 
            title="Cirugías Especializadas" 
            description="Procedimientos quirúrgicos seguros, con tecnología de vanguardia y recuperación supervisada." />
        <home-services-card 
            icon="/assets/icons/hotel.png" 
            alt="hotel" 
            title="Hotel para Gatos" 
            description="Un espacio seguro, cómodo y diseñado especialmente para gatos, con atención personalizada las 24 horas." />
        <home-services-card 
            icon="/assets/icons/salad.png" 
            alt="salad" 
            title="Nutrición Felina" 
            description="Asesoramiento nutricional y dietas personalizadas para gatos con necesidades especiales." />
        <home-services-card 
            icon="/assets/icons/scissors.png" 
            alt="scissors" 
            title="Grooming Felino" 
            description="Servicios de peluquería y cuidado estético para gatos, realizados por profesionales." />
        <home-services-card 
            icon="/assets/icons/hands-brain.png" 
            alt="hands-brain" 
            title="Terapia Conductual" 
            description="Ayudamos a resolver problemas de comportamiento como ansiedad, agresividad o estrés." />
        <home-services-card 
            icon="/assets/icons/ambulance.png" 
            alt="ambulance" 
            title="Urgencias" 
            description="Servicios de emergencias veterinarias, con especialistas disponibles las 24 horas." />
    </article>
</section>