body {
    background-image: url('/assets/bgTest.png');
    background-position: bottom;
    background-size: cover;

    height: 100vh;
}

.login {
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

form {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

    padding: 20px 35px;
    color: #333333;
    background-color: #fefefe;
}

form a {
    text-decoration: none;
    color: #4675ff;
}

.submit {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4675ff;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

input {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    width: 100%;
    height: 45px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.error {
    color: red;
}