<section class="testimonies" id="testimonies">
    <h2>Testimonios de Gaticos Satisfechos</h2>
    <article>
        <home-testimonies-card
            image="https://images.ctfassets.net/denf86kkcx7r/4IPlg4Qazd4sFRuCUHIJ1T/f6c71da7eec727babcd554d843a528b8/gatocomuneuropeo-97"
            alt="Milo"
            title="Clonasepan"
            description="Clonasepan llegó con una infección respiratoria severa. Después del tratamiento, ahora disfruta de largas siestas al sol sin preocupaciones." />
        <home-testimonies-card
            image="https://images.unsplash.com/photo-1519052537078-e6302a4968d4?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
            alt="Hamburgueso"
            title="Hamburgueso"
            description="Hamburgueso tenía ansiedad y sobrepeso. Con nuestra terapia y dieta especial, recuperó su energía y juega más que nunca." />
        <home-testimonies-card
            image="https://images.unsplash.com/photo-1592194996308-7b43878e84a6?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
            alt="Luna"
            title="Luna"
            description="Luna fue operada con éxito de una fractura en su pata. Ahora corre y salta como si nada hubiera pasado." />
        <home-testimonies-card
            image="https://www.purina.co.uk/sites/default/files/2020-12/Understanding%20Your%20Cat%27s%20Body%20LanguageTEASER.jpg"
            alt="Simba"
            title="Simba"
            description="Simba tenía problemas digestivos crónicos. Gracias a la dieta especializada que nos recomendaron, ahora está más activo y feliz que nunca." />
        <home-testimonies-card
            image="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
            alt="Mimi"
            title="Mimi"
            description="Mimi sufrió una intoxicación por una planta tóxica. El equipo de Tabbies actuó rápidamente y la salvó. ¡Estamos eternamente agradecidos!" />
        <home-testimonies-card
            image="https://images.unsplash.com/photo-1533743983669-94fa5c4338ec?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
            alt="Thor"
            title="Thor"
            description="Thor tenía sobrepeso y problemas de movilidad. Con el plan de ejercicios y la dieta que nos dieron, ha perdido peso y ahora juega como un gatito." />
    </article>
</section>