<section>
  <h1>Medicamentos</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio Venta</th>
        <th>Precio Compra</th>
        <th>Disponibles</th>
        <th>Ventas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let med of medicines">
        <td>{{ med.name }}</td>
        <td>{{ med.sellPrice }}</td>
        <td>{{ med.buyPrice }}</td>
        <td>{{ med.stock }}</td>
        <td>{{ med.sold }}</td>
      </tr>
    </tbody>
  </table>
</section>
