<section>
    <h1>Lista de Veterinarios</h1>
    <a routerLink="/admin/veterinarians/add" class="btn btn-primary">Crear Veterinario</a>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Especialidad</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veterinary of veterinaries">
          <td>{{ veterinary.name }}</td>
          <td>{{ veterinary.email }}</td>
          <td>{{ veterinary.speciality }}</td>
          <td>
            <a [routerLink]="['/admin/veterinarians', veterinary.id]" class="btn btn-primary">Ver</a>
            <a [routerLink]="['/admin/veterinarians', veterinary.id, 'edit']" class="btn btn-warning">Editar</a>
            <button (click)="deleteVeterinary(veterinary.id)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
