section {
    width: 100%;
    height: calc(100vh - 4em);
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
}

main {
    display: flex;
    justify-content: center;
    overflow: scroll;
    padding: 40px 20px;
}