<section>
	<h1>Lista de Usuarios</h1>
	<a routerLink="/admin/users/add" class="btn btn-primary"><ion-icon name="color-wand" class="wand"/>Crear Usuario</a>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Documento</th>
				<th>Email</th>
				<th>Telefono</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td>{{ user.name }}</td>
				<td>{{ user.document }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.number }}</td>
				<td class="center">
					<a [routerLink]="[user.id]" class="btn btn-primary">
						<ion-icon name="list-circle-outline" class="detalles"></ion-icon>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</section>
