:host {
	width: 100%;
	display: contents;
}

/* Pastel colors */
span {
	width: 100%;
	display: flex;
	justify-content: center;
}

section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	overflow: scroll;

	background-image: url("/assets/images/bgTest2.png"),
		url("/assets/images/bgTest.png");
	background-attachment: scroll, scroll;
	background-position: top left, bottom;
	background-repeat: no-repeat;
	background-size: auto, cover;

	padding: 4em;
	width: 100%;
}

table {
	width: 75%;
	border-collapse: separate;
	border-spacing: 0;
	margin: 20px 0;
	font-size: 18px;
	text-align: left;
	color: #333;
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
}

table th,
table td {
	padding: 12px 15px;
}

table th {
	background-color: #fbacac;
	color: #fdfdfd;
	font-weight: bold;
}

table tr:nth-of-type(even) {
	background-color: rgb(251, 191.75, 172);
	color: #fdfdfd;
}

table tr:nth-of-type(odd) {
	background-color: rgb(255, 255, 255);
}

table tr:hover {
	background-color: rgb(240.25, 240.25, 240.25);
}

table tr:hover:nth-of-type(even) {
	background-color: rgb(248.6551724138, 144.2298850575, 123.3448275862);
}

table tr:last-child td {
	border-bottom: none;
}

table th,
table td {
	text-align: center;
	padding: 20px;
}

.detalles {
	font-size: 1.5em;
}

.wand {
	margin-right: 10px;
	font-size: 1.3em;
}

.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}
