header {
	/* Background */
	background-color: #fbacac;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);

	/* Positioning */
	position: sticky;
	top: 0;
	z-index: 3;

	/* Spacing */
	padding: 1em;
	height: 4em;

	/* Text */
	color: #404040;
	text-align: center;

	/* Display */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	text-decoration: none;
}

header h1 {
	/* Font */
	font-family: "Pacifico", cursive;
	font-size: 2em;

	/* Spacing */
	margin: 0;

	/* Text */
	color: #fdfdfd;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

header ul {
	/* Display */
	display: flex;
	list-style: none;
}

header ul li {
	/* Spacing */
	margin: 0 1em;
}

header ul li a {
	/* Text */
	color: #fdfdfd;
	text-decoration: none;
	border-bottom: 3px solid transparent;
}

header ul li a:hover {
	border-bottom: 3px solid #fdfdfd;
}
