<section *ngIf="veterinary" class="pet-details">
	<div class="card">
		<div class="top-section">
			<h1>{{ veterinary.name }}</h1>
			<div class="img-con">
				<img [src]="veterinary.picture" alt="Veterinarian picture" />
			</div>
		</div>
		<div class="bottom-section">
			<div class="user-info">
				<p>
					<strong>Documento: </strong>
					<span>{{ veterinary.document }}</span>
				</p>
				<p>
					<strong>Email: </strong>
					<span>{{ veterinary.email }}</span>
				</p>
				<p>
					<strong>Teléfono: </strong>
					<span>{{ veterinary.number }}</span>
				</p>
				<p>
					<strong>Especialidad: </strong>
					<span>{{ veterinary.speciality }}</span>
				</p>
			</div>
			<span>
				<a class="btn-primary" [routerLink]="['..']">Volver</a>
				<a class="btn-secondary" [routerLink]="['edit']" *ngIf="veterinary.role !== 'Admin'">Editar</a>
			</span>
		</div>
	</div>
</section>
