<section class="about" id="about">
    <h2>Sobre Nosotros</h2>
    <article>
        <img class="logo" src="/assets/images/cat.png" alt="Logo Tabbies" />
        <div class="right">
            <p>
                En <strong>Veterinaria Felina Tabbies</strong>, nos dedicamos exclusivamente al 
                cuidado de los gatos. Nuestro equipo de veterinarios y especialistas
                en felinos está altamente capacitado para brindar la mejor atención médica, emocional y preventiva para 
                tu mascota. Nos enorgullece ofrecer un ambiente cálido y seguro, diseñado especialmente para minimizar el 
                estrés de los gatos durante su visita.

                <br/><br/>

                Nuestra clínica está ubicada en el corazón de Bogotá, en la <strong>Calle 123 #45-67, Barrio Felino</strong>.
                Contamos con amplias instalaciones y fácil acceso para que puedas traer a tu gato sin complicaciones.
            </p>
            <a href="#" class="btn-primary">Conoce más</a>
        </div>
    </article>
</section>