<section class="contact" id="contact">
    <h2>Contáctanos</h2>
    <article>
        <div class="left">
            <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Bogota+Veterinaria&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
        </div>
        <div class="right">
            <p>
                <strong>📍 Dirección: </strong>Calle 123 #45-67, Barrio Felino, Bogotá <br/>
                <strong>📞 Teléfono: </strong>+57 305 3444606 <br/>
                <strong>📧 Email: </strong><a href="mailto:contacto&#64;tabbies.com">contacto&#64;tabbies.com</a>
            </p>
            <!-- Formulario de contacto (se puede borrar si no les gusta la idea)-->
            <form class="forma-contacto">
                <input type="text" placeholder="Nombre" required>
                <input type="email" placeholder="Correo electrónico" required>
                <textarea type="text" placeholder="Mensaje" required></textarea>
                <button type="submit" class="btn-primary">Enviar mensaje</button>
            </form>
        </div>
    </article>
</section>